.labelContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;

  input {
    padding-block: 0.7rem;
    padding-inline: 0.8rem;
    padding-right: 2.5rem;
    width: 80%;
    border-radius: 0.8rem;

    &:focus {
      border: 2px solid green;
      outline: none;
    }

    &:hover + label,
    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: -30%;
      left: 8%;
      color: rgb(245, 242, 242);
      font-size: 1.5rem;
      padding-bottom: 0.2rem;
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 10%;
    color: black;
    transform: translateY(-50%);
    transition: 0.3s ease;
    padding: 0 4px;
    pointer-events: none;
  }

  .eyeIcon {
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .labelContainer {
    width: 60%;

    input {
      width: 100%;
      padding-right: 3rem;
    }

    label {
      left: 6%;
      font-size: 1.2rem;
    }

    input:hover + label,
    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: -35%;
      font-size: 1.3rem;
    }

    .eyeIcon {
      right: 10px; // 🔥 better than %
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .labelContainer {
    width: 40%;

    input {
      padding-block: 0.9rem;
      font-size: 1.1rem;
    }

    label {
      font-size: 1.1rem;
      left: 5%;
    }

    input:hover + label,
    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: -40%;
      font-size: 1.2rem;
    }

    .eyeIcon {
      font-size: 1.6rem;
    }
  }
}